body {
        background: linear-gradient(to bottom, #ccffff 0%, #ffccff 100%);
        font-family: "Monday Donuts", monospace;
        padding: 100px;
        text-align: center;
     }

section.reflection {
    text-align: left;
    margin:auto;
}

section.photoGallery {
margin:auto;
padding:2em;

display:flex;
/* flex-direction:row; */
/* justify-content:space-around; */
}

img {
width:20%;
}

img.photoGallery {
    width:100%;
}

img.corpus {
    width:90%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

figcaption.corpus {
    text-align:left;
    flex-direction:row;
}

section {
    width:80%;
    margin:auto;
}

body.resume {
    background: white;
    color: black;
    font-family:roman, 'times new roman', times, serif;
    text-align: left;
    }
    
h1.resume {
    color:black;
}

h1.index {
    color:magenta;
}

h2.index {
    color:#b77dff;
}

h3.index {
    color:#2176ff;
}

img.photo {
    max-width: 200px;
    width: 200%;
    float: left;
    width: 30%;
    padding: 20px;}
    after{
    content: "";
    clear: both;
    display: table;
    padding: 50px;
    }

body.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

body.gallery:hover {
  border: 1px solid #777;
}

body.gallery {
  width: 100%;
  height: auto;
}

figcaption {
  padding: 15px;
  text-align: center;
}

figure.left {
    flex: 2;
}

figure.right {
    flex: 2;
}