body {
        background: linear-gradient(to bottom, #003a8c 0%, #ffccff 100%);
        font-family: "Arial Black", monospace;
        padding: 100px;
        text-align: center;
        font-size: 26px;
        }
div{
        width: 1300px;
        border: 15px solid magenta;
        padding: 10px;
        margin: 0 auto 5px auto;
        background:white;
     }

.spacer {
  height: 50px; /* Adjust as needed */
  border: none;
  padding: 0px;
  background:none;
}

div.index {
        width: auto;
        border: 15px solid magenta;
        margin: 0 auto;
        background:white;
        display: flex;
        align-items: center;
}

section.reflection {
    text-align: left;
    margin:auto;
}

section.photoGallery {
margin:auto;
padding:2em;
display:flex;
/* flex-direction:row; */
justify-content:space-around;
}

img {
width:20%;
}

img.photoGallery {
    width:50%;
}

img.corpus {
    width:90%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

figcaption.corpus {
    text-align:left;
    flex-direction:row;
}

section {
    width:80%;
    margin:auto;
}

body.resume {
    background: white;
    color: black;
    font-family:roman, 'times new roman', times, serif;
    }
    
h1.resume {
    color:black;
}

h1.index {
    color:magenta;
}

h2.index {
    color:#b77dff;
}

h3.index {
    color:#2176ff;
}

img.photo {
    max-width: 200px;
    width: 200%;
    float: left;
    width: 30%;
    padding: 20px;}
    after{
    content: "";
    clear: both;
    display: table;
    padding: 50px;
    }

body.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

body.gallery:hover {
  border: 1px solid #777;
}

body.gallery {
  width: 100%;
  height: auto;
}

figcaption {
  padding: 15px;
  text-align: center;
}

figure.left {
    flex: 2;
}

figure.right {
    flex: 2;
}

.videoContainer {
    text-align: center;
}